h1 {
    text-align: center;
}

.paragraph {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
     width: 50%; 
 }

 #beerBtn {
    background-color: red;
}

#breweryList {
    text-align: right;
    list-style-type: none;
    float: left;
}

#beerList {
    text-align: left;
    list-style-type: none;
    width: 50%;
    float: right;
}

#buttonContainer {
    text-align: center;
}

#lists {
    text-align: center;
}