h1 {
    text-align: center;
}

#lastButtonContainer{
    text-align: right;
}

.paragraph {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
     width: 33%; 
 }

 #buttonContainer {
    text-align: center;
}

 #beerBtn {
    background-color: red;
}

#lists {
    display: flex;
} 


#breweryList {
    text-align: left;
    list-style-type: none;
}

#beerList {
    text-align: center;
    list-style-type: none;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             

#locationList{
    text-align: right;
    list-style-type: none; 
}
